*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pong__header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #F5AD95;
  position: relative;
}

.score-points {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

#score-left, #score-right {
  vertical-align: middle;
}

.start-button {
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.pong__body {
  height: calc(100% - 80px);
  background-color: #F07935;
  position: relative;
}

.racket {
  width: 10px;
  height: 80px;
  position: absolute;
}

.left-racket {
  background-color: #A37CDE;
}

.right-racket {
  background-color: #8CFAE6;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}